.leaflet-container {
  background-color: rgb(163, 206, 255);
  height: 400px !important;
}


h1,
p {
  font-family: Lato;
}
.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}
.leaflet-container {
  background: white !important;
}
